.map {
  margin-top: 50px;
  margin-bottom: 100px;

  // .map__list

  &__list {
    list-style: none;
  }

  // .map__list-elem

  &__list-elem {
    margin-bottom: 15px;
  }

  &__list-link {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
  }

  &__list-link-reverse {
    flex-direction: row-reverse;
  }

  &__list-link:hover .map__list-elem-text {
    animation-name: bob-on-hover-float, bob-on-hover;
    animation-duration: .3s, 1.5s;
    animation-delay: 0s, .3s;
    animation-timing-function: ease-out, ease-in-out;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards;
    animation-direction: normal, alternate;

    color: var(--light-color-hover);
  }

  // .map__list-elem-left

  &__list-elem-left {
    margin-right: 50px;
    width: 100%;
    flex-grow: 2;
    .image {
      pointer-events: none;
      position: relative;
      z-index: 1;
    }
  }

  // .map__list-elem-right

  &__list-elem-right {
    width: 100%;
  }

  // .map__list-elem-link

  &__list-elem-text {
    display: block;
    transform: perspective(1px) translateZ(0);
    text-align: center;
    color: var(--light-color);
    font-size: 54px;
    pointer-events: none;

    @include small-tablet {
      font-size: 44px;
    }

    @include mobile {
      font-size: 34px;
    }
  }
}

/* BOB */

@keyframes bob-on-hover {
  0% {
    transform: translateY(-8px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-8px);
  }
}

@keyframes bob-on-hover-float {
  100% {
    transform: translateY(-8px);
  }
}

