<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="#" class="nav__logo animate-logo">
        <picture>
          <source srcset="img/logo.avif" type="image/avif">
          <source srcset="img/logo.webp" type="image/webp">
          <img loading="lazy" src="img/logo.png" class="image" width="60" height="60" alt="logo">
        </picture>
      </a>
      <ul class="nav__list animate-nav-list">
        <li class="nav__list-item">
          <a href="#" class="nav__list-item-link">
            Progects
          </a>
        </li>
        <li class="nav__list-item">
          <a href="#" class="nav__list-item-link">
            About
          </a>
        </li>
        <li class="nav__list-item">
          <a href="#" class="nav__list-item-link">
            Contact
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
